<!-- Footer -->
<style>
    /* Estilo para el pie de página */
    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 30px;
        padding: 0;
    }
    .footer-content {
        line-height: 30px; /* Centra el texto verticalmente */
        height: 30px;
        color: white;
    }

    /* Añadir un margen inferior al contenido para que el footer no lo tape */
    .content {
        padding-bottom: 60px; /* Espacio para el footer */
    }
</style>

<div class="content">
    <!-- Espacio entre footer y contenido -->
</div>

<!-- Sección del pie de página -->
<footer class="footer bg-success">
    <div class="footer-content text-center">
        <span>TDAHDetection &copy; <span id="currentYear"></span></span>
    </div>
</footer>

<!-- Script para obtener el año actual -->
<script>
    document.getElementById('currentYear').innerHTML = new Date().getFullYear();
</script>

</body>
</html>
